services:
  directus:
    image: directus/directus:11.15.1@sha256:bf19ab6b2e4652ea2396f0d11e0fe2b3430248d8b8baf4e1e2b1b22d1ae6d0a5
    ports:
      - 8055:8055
    volumes:
      - ./:/directus/extensions/imagga
    env_file: ".env.test"
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.1:8055/server/health || exit 1"]
      start_period: 20s
  imagga:
    image: wiremock/wiremock:3.13.2@sha256:27c4b74404f58ceedc6899f73abdfe228d8f80d5efa4d8bd42d6c155558b677c
    ports:
      - 8080:8080
    volumes:
      - ./mocks:/home/wiremock
